.info-modal {
  .modal {
    .modal-dialog {
      margin: 0px 0px auto auto;
      height: 100vh;
      transform: translate(50px, 0px);
      max-width: 650px;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }

    .modal-content {
      height: 100%;
      border: none;
      padding: 50px;
      overflow-y: auto;

      @include media-breakpoint-down(md) {
        padding: 30px;
      }

      .modal-header {
        border: none;
      }
    }

    .modal-body {
      flex-grow: 1;
      h3 {
        color: $gray;
        border-bottom: 1px solid #e9e9e9;
        font-weight: 500;
      }
    }
    &.fade.show .modal-dialog {
      transform: translate(0px, 0px);
    }
  }
}

/* enquiry modal*/
.enquiry-modal {
  .modal {
    .modal-dialog {
      max-width: 700px;
    }
    .contact-form {
      max-width: 430px;
      margin: 0 auto;
      label {
        color: $white;
        margin-bottom: 6px;
      }

      .btn.btn-primary {
        min-width: 180px;
      }
      .browse-btn {
        font-weight: 500;
        cursor: pointer;
        text-align: center;
        button {
          border: none;
          display: inline-block;
          padding: 10px 15px;
          font-size: 13px;
          text-transform: capitalize;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
          background: rgb(255 255 255 / 70%);
        }
        span {
          font-size: 13px;
          margin-left: 20px;
        }
      }
    }

    .modal-content {
      border: none;
      border-radius: 5px;
      @include media-breakpoint-down(md) {
        padding: 30px 20px;
      }
    }
    .enquiry-bg {
      height: 400px;
      bottom: -34px;
      width: 220%;
      right: -134px;
      left: auto !important;
    }
  }
}

.submit-modal {
  .modal {
    a.menu-close.d-block {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 99;
    }

    .modal-dialog {
      max-width: 900px;
      width: 90%;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin: 0px 0px auto auto;
        height: 100vh;

        .modal-content {
          height: 100%;
        }
        .modal-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.team-modal {
  .modal-dialog {
    max-width: 1000px;
    @include media-breakpoint-down(md) {
      margin: 0px;
    }

    @include media-breakpoint-up(md) {
      width: 90%;
    }
  }
  .modal-content {
    @include media-breakpoint-up(md) {
      border-radius: 5px;
      overflow: hidden;
      height: 550px;
      overflow-y: auto;
    }
  }
  .modal-body {
    padding: 0px;
    height: 100%;
    overflow-y: auto;

    @include media-breakpoint-up(lg) {
      h3 {
        font-size: 32px;
      }
    }
    @include media-breakpoint-up(md) {
      .team-img {
        width: 46%;
      }
      .team-content {
        width: 54%;
      }
    }
  }
  .btn-close {
    right: 20px;
    top: 20px;
    z-index: 9;
  }
}

/* checkout modal */
.checkout-modal {
  .modal {
    .modal-dialog {
      max-width: 100%;
      margin: 0px;
      min-height: 100%;
    }
  }
}
.order-modal {
  .modal {
    .modal-dialog {
      max-width: 650px;
    }
  }
}
/* END checkout modal */

// pages form

.info-modal {
  .modal-dialog {
    max-width: 652px !important;
    @include media-breakpoint-down(md) {
      max-width: 100% !important;
    }
  }
  .modal {
    .modal-content {
      padding: 76px 56px 76px 82px;
      p {
        line-height: 30px;
      }
      @include media-breakpoint-down(sm) {
        padding: 47px 36px;
        p {
          line-height: 25px;
          letter-spacing: 0.37px;
        }
      }
    }
  }
}

.form-modal {
  .modal-dialog {
    max-width: 562px;
    .modal-content {
      @include media-breakpoint-down(md) {
        padding: 48px 36px 0;
      }
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
  .modal-header {
    a {
      top: -30px;
      right: -30px;
    }
  }
  .modal-body {
    padding: 52px 60px 36px;
    h2 {
      font-size: 30px;
      line-height: 40px;
    }
    .small-title {
      font-family: "Muli";
    }
    @include media-breakpoint-down(md) {
      padding: 76px 0 58px;
    }
    @include media-breakpoint-down(sm) {
      .small-title {
        font-size: $menuSize;
        line-height: 20px;
        letter-spacing: 1.38px;
      }
    }
    form {
      .radio {
        @include media-breakpoint-down(sm) {
          .form-check-label {
            font-size: $menuSize;
            letter-spacing: 1.35px;
          }
        }
        .form-check-input {
          width: 20px;
          height: 20px;
          &:checked {
            background-color: white;
            border-color: #f58220;
            outline: 5px solid #f58220 !important;
            outline-offset: -5px;
          }
        }
      }
      .form-control {
        padding: 15px 16px;
        @include media-breakpoint-down(sm) {
          padding: 18px 16px;
        }
      }
      a.btn {
        padding: 16px 26px;
      }
      @include media-breakpoint-down(sm) {
        a.btn {
          padding: 20px 30px 20px 25px;
          font-size: $bodyS;
          font-family: "Muli";
          letter-spacing: 1.26px;
        }
      }
      .form-control {
        background-color: #34494d;
        font-size: $bodyXS;
        letter-spacing: 1.08px;
        &::placeholder {
          color: $white;
          font-size: $bodyXS;
          letter-spacing: 1.08px;
        }
      }
      .checkbox {
        .form-check-input {
          width: 24px;
          height: 24px;
          &.black-ckeck-box {
            border: 0;
            background-color: $white;
            &:checked[type="checkbox"] {
              border: transparent;
              position: relative;
              &::after {
                content: "✓";
                position: absolute;
                width: auto;
                height: auto;
                left: 50%;
                top: 50%;
                font-weight: 700;
                transform: translate(-50%, -50%);
              }
            }
          }
          @include media-breakpoint-down(sm) {
            width: 30px;
            height: 30px;
          }
        }
      }
      .form-check-label {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.9px;
        padding-left: 12px;
      }
    }
  }
}

.modal-header {
  a {
    @include generate-transition(all, 500ms, ease);
    &:hover {
      @include media-breakpoint-up(md) {
        transform: rotate(45deg);
      }
    }
  }
}
.member-modal {
  .modal-dialog {
    max-width: 876px;
    @include media-breakpoint-down(lg) {
      max-width: 700px;
    }
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
  .modal-content {
    @include media-breakpoint-down(md) {
      background-color: #f8f8f8;
    }
  }
  .modal-header {
    a {
      right: -30px;
      @include media-breakpoint-down(md) {
        top: 74px;
        right: 36px;
      }
    }
  }
  .modal-body {
    .content {
      height: 476px;
      @include media-breakpoint-down(md) {
        overflow: unset !important;
        .content-header {
          background-color: transparent !important;
          position: static !important;
        }
      }
    }
    @include media-breakpoint-down(md) {
      height: 100%;
      .row {
        height: auto;
      }
      .img-content {
        height: 425px !important;
        width: 100%;
        img {
          object-position: top;
        }
      }
    }
    .content {
      p {
        font-size: $bodyS;
        letter-spacing: 0.6px;
        line-height: 22px;
        @include media-breakpoint-down(md) {
          letter-spacing: 0.42px;
          line-height: 25px;
          &.text-truncate10 {
            -webkit-line-clamp: 10;
          }
        }
      }
      .btn-icon {
        height: 46px;
        width: 46px;
      }
      @include media-breakpoint-down(md) {
        padding: 40px 36px 16px;
      }
    }
  }
}

.form-details {
  .modal-body {
    @include media-breakpoint-down(md) {
      border-top: 2px solid rgba(112, 112, 112, 0.2);
    }
  }
  .radio {
    .form-check-label {
      font-size: 12px !important;
      letter-spacing: 1.08px !important;
      @include media-breakpoint-down(sm) {
        font-size: $menuSize !important;
        letter-spacing: 1.35px !important;
      }
    }
  }
  .input-group {
    div {
      @include media-breakpoint-up(md) {
        padding: 0 12px;
      }
    }
    textarea {
      height: 130px;
      @include media-breakpoint-down(sm) {
        resize: none;
        height: 120px;
      }
    }
  }
  .checkbox {
    input {
      width: 30px !important;
      height: 30px !important;
    }
    label {
      @include media-breakpoint-up(md) {
        font-size: 12px !important;
        letter-spacing: 1.8px !important;
      }
    }
  }
  a.btn {
    padding: 16px 34px !important;
    font-size: 12px !important;
    line-height: 16px;
  }
}

.distributor-modal {
  .modal {
    .modal-content {
      padding: 0 56px 5px 82px;
      @include media-breakpoint-down(sm) {
        padding: 0 36px 5px;
      }
      .distributor-modal-header {
        padding: 74px 0 42px;
        @include media-breakpoint-down(sm) {
          padding: 64px 0 52px;
        }
      }
    }
    .modal-body {
      h4 {
        font-size: 20px;
      }
      .distributor-details {
        h5 {
          font-size: $bodyM;
          color: #3c3c3c;
          line-height: 22px;
        }
      }
      .contect {
        padding: 36px 0;
        @include media-breakpoint-down(sm) {
          padding: 30px 0 16px;
        }
      }
    }
  }
}

.careers-form-modal {
  .modal {
    .modal-content {
      @include media-breakpoint-down(md) {
        padding-top: 74px;
      }
    }
    .modal-body {
      .form-control {
        border: 2px solid rgba(8, 8, 8, 0.5);
        padding: 15px;
        @include media-breakpoint-down(sm) {
          padding: 14px 15px;
        }
        &::placeholder {
          color: $primary;
          font-weight: 700;
        }
      }
      .checkbox {
        input {
          width: 30px;
          height: 30px;
        }
        .form-check-label {
          @include media-breakpoint-up(sm) {
            font-size: $bodyXS;
            letter-spacing: 1.08px;
          }
        }
      }
      a.btn {
        padding: 16px 50px;
      }
    }
  }
  .modal-body {
    padding: 60px 65px 45px;
    @include media-breakpoint-down(sm) {
      padding: 48px 0;
    }
    .file-input {
      cursor: pointer;
      border: 2px dashed rgba(8, 8, 8, 0.5) !important;
      @include media-breakpoint-down(sm) {
        font-weight: 700 !important;
        border: 2px dashed rgba(8, 8, 8, 0.2) !important;
        border-radius: 0 !important;
        padding: 12px 15px !important;
        font-family: "Muli";
      }
    }
  }
}

.brochures-download-modal-body {
  padding-bottom: 38px !important;
  a.btn {
    padding: 16px 72px !important;
  }
}
